@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  @apply bg-neutral-950 text-white antialiased selection:bg-red-900 selection:text-white;
}